/* Generic styles */

body {
    background-color:#222;
    color:#FFF;
    font-family:sans-serif;
    background-image:url('/txture.png.server');
    padding: 0px;
    margin: 100px auto 100px auto;
    max-width: 1000px;
    max-height: 1000px;
    border: solid 4px #BB381E;
    border-radius: 5px;
}

a {
    color:#0080ff;
    text-decoration:none;
}

a:hover {
   text-decoration:underline;
}

/* Header styles */

header {
	background-color: #111;
	padding: 0px 20px 0px 20px;
	height: 55px;
	border-bottom: solid 2px #000;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

header h1 {
    float:left;
    font-size: 34px;
    line-height: 13px;
    margin-top: 20px;
}

/* Section styles */

div#wrapper {
    max-width:1000px;
    margin: 0px auto 0 auto;
    background-color: #222;
    height: 85%;
    overflow-y: hidden;
}

section#underbar {
    background-color:#111;
    position: absolute;
    bottom: 100px;
    height: 70px;
    margin-bottom: 3px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 1000px;
    border-top:solid 2px #000;
}

section#underbar * a {
	color:#FFF;
}

section#underbar * a:hover {
	text-decoration:none;
}

section#underbar ul {
    padding-left:0px;
    position: relative;
    bottom: -4px;
    width: 1000px;
}

section#underbar ul li {
    list-style:none;
    float: left;
    margin-left: 15.5%;
}

section#underbar ul li span {
    display: none;
    background-color: #000;
    padding: 10px;
    border-radius: 10px;
    opacity: 0.6;
    position: absolute;
    margin-left: -6%;
    bottom: 11px;
}

section#list {
    min-width: 100%;
    /*min-height:97%;*/
    float:left;
    overflow-x: hidden;
    overflow-y:auto;
}

section#list table tbody tr:first-child th {
    padding-bottom:10px !important;
    padding-top:10px !important;
    border-bottom:solid 1px #111;
}

section#list table tbody tr td {
    padding:5px 0px 10px 0px;
    border-top:solid 1px #333 !important;
    border-bottom:solid 1px #111 !important;
    border-left: solid 1px #111;
    border-right: solid 1px #333;
}

section#list table tbody tr:last-child td {
    border-bottom: none !important;
}

section#list table tbody tr th:first-child, section#list table tbody tr td:first-child {
    width: 7%;
    text-align: center;
}

section#list table tbody tr th:nth-child(2), section#list table tbody tr td:nth-child(2) {
    width:65%;
    padding-left:20px;
}

section#list table tbody tr th:last-child, section#list table tbody tr td:last-child {
    text-align: center;
    width: 10%;
}

section#list table {
    width:100%;
}

section#image, section#text {
    float: right;
    background-color:#111;
    width: 70%;
    height: 100%;
    overflow-y: auto;
}

section h3 {
    padding:15px;
    font-size:25px;
}

section#image img {
    max-width:100%;
    min-width:100%;
}

section#text div {
    color:#000;
    background-color:#FFF;
    padding:10px;
}

section#sidebar {
	float:left;
	width:30%;
}

section#sidebar ul li {
	border-top:solid 1px #333;
	border-bottom:solid 1px #000;
	padding:10px 15px 10px 15px;
}

section#sidebar ul li:first-child {
	border-top:none;
}

section#sidebar ul li:last-child {
	border-bottom:none;
}

section#sidebar ul li span {
    color:#888;
}